<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>

    <div class="container">
          
      <h1>Hello</h1>
      <form method="post" action="/addsymbol">
        <input type="text" name="symbol">
      </form>
      <%= stocks %>

    </div><!-- /.container -->

    <script>
    </script>
  </body>
</html>