p {
  font-size: 12px;
  margin: 5px 0;
}
#stocks-info {
  padding-top: 20px;
}
.panel {
  width: 20%;
  float: left;  
  position: relative;
}
.red {
  color: red;
}
.green {
  color: green;
}
input {
  margin-top: 50px;
}
.fa-times {
  top: 6px;
  position: absolute;
  right: 8px;
  color: #bd081c;
}
.fa-times:hover {
  opacity: 0.8;
}